<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>Add user</title>
    <link rel = "stylesheet" type = "text/css" href = "../static/bootstrap-4.3.1/css/bootstrap.min.css">
</head>

<body>

<div class = "container">
    <form action = "/addUser/" method = "POST">
    
        <div class = "form-row">
            <div class = "col-md-4 mb-4">
                <label for = "idNumber">ID Number</label>
                <input type = "text" name = "idNumber" class = "form-control" placeholder = "ID Number" id = "idNumber" required>
            </div>
            <div class = "col-md-4 mb-4">
                <label for = "name">Name</label>
                <input type = "text" name = "name" class = "form-control" placeholder = "ID Number" id = "name" required>
            </div>
            <div class = "col-md-4 mb-4">
                <label for = "age">Age</label>
                <input type = "text" name = "age" class = "form-control" placeholder = "Age" id = "age" required>
            </div>
        </div>
        <div class = "form-row">
            <div class = "col-md-6 mb-4">
                <label for = "mailbox">Mailbox</label>
                <input type = "text" name = "mailbox" class = "form-control" placeholder = "Mailbox" id = "mailbox" required>
            </div>
            <div class = "col-md-3 mb-4">
                <label for = "power">Power</label>
                <input type = "text" name = "power" class = "form-control" placeholder = "Power" id = "power" required>
            </div>
            <div class = "col-md-3 mb-4">
                <label for = "password">Password</label>
                <input type = "text" name = "password" class = "form-control" placeholder = "Password" id = "password" required>
            </div>
        </div>
        <div class = "form-group">
            <div class = "form-check">
                <input class = "form-check-input is-invalid" type = "checkbox" value = "" id = "agreement" required>
                <label class = "form-check-label" for = "agreement">Agree to terms and conditions.</label>
                <div class = "invalid-feedback">You must agree before submitting.</div>
            </div>
        </div>
        <button class = "btn btn-primary" type = "submit">Submit</button>
    </form>
</div>
</body>
</html>

