<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>User index</title>
    <link rel = "stylesheet" type = "text/css" href = "../static/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href = "../static/css/index.css"
</head>

<body>
    <div class = container>
        {% for item in Block %}
        <div>
            <a type="button" name="" id="" class="btn btn-primary btn-lg btn-block">
                {% for el in item.Subject %}
                    <a type="button" name="" id="" class="btn btn-primary btn-lg btn-block">
                    <img src = {{item.Src}}></img>
                        {{el}}
                        {% for item in Article%}
                        <div>
                            {{item.Comment}}
                        </div>
                        {% endfor %}
                    </a>
                {% endfor %}
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>