<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>User index</title>
    <link rel = "stylesheet" type = "text/css" href = "../static/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href = "../static/css/index.css"
</head>

<body>
    <div class = container>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">
            資訊工程系
        </button>
    </div>

    <a href = "/accessAddUserPage/" class = "btn btn-primary" id = "addUserBtn">Add User</a>
</body>
</html>