<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <title>Userinfo</title>
		<script src = '/../../static/bootstrap-4.3.1/js/bootstrap.bundle.min.js' type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/../../static/bootstrap-4.3.1/css/bootstrap.min.css">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    </head>
    <body>
        {% if result == False %}
            {% include 'error.html' %}
        {% else %}
            {% include 'nav.html' %}
            {% if request.user.username == username %}
                {% include 'accounts/_setting.html' %}
            {% else %}
                {% include 'accounts/_others.html' %}
            {% endif %}
		{% endif %}
    </body>
</html>