<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <title>login</title>
        <link rel = "stylesheet" type = "text/css" href = "../../static/bootstrap-4.3.1/css/bootstrap.min.css">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    </head>
    <body>
        <form action = "" method = "POST">
            <label for = "username">用戶名稱:</label>
            <input type = "text" name = "username" value = "" id = "username"><br/>
            <label for = "password">用戶密碼:</label>
            <input type = "password" name = "password" value="" id = "password"></br>
            <input type = "submit" value = "登入" />
        </form>
        <button type="button" class="btn">Basic</button>
        <button type="button" class="btn btn-default">Default</button>
    </body>
</html>