<!DOCTYPE html>
<html lang="en">
<head>
    <title>ExamPool - 登入</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <!-- load favicon. -->
    <link rel="icon" href = {% static "img/favicon.ico" %} type="image/x-icon" />
    <link rel="shortcut icon" href = {% static "img/favicon.ico" %} type="image/x-icon" />

    <!-- load css. -->
    <link rel="stylesheet" href = {% static "bootstrap-4.3.1/css/bootstrap.min.css" %} >
    <link rel="stylesheet" href = {% static "fontawesome-5.8.2/css/all.min.css" %} >
    <link rel="stylesheet" href = {% static "css/login.css" %} >

    <!-- load js. -->
    <script src = {% static "js/jquery-3.4.1.min.js" %} ></script>
    <script src = {% static "bootstrap-4.3.1/js/bootstrap.min.js" %} ></script>

</head>
<body>
    <div class="login-wrap">
	    <div class="login-html">
		    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		    <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab">Register</label>
		<div class="login-form">
			<form action="/accounts/login/" method="POST">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="username" class="label">Username</label>
                        <input type="text" name="username" value="" id="username" class="input" required autofocus>
                    </div>
                    <div class="group">
                        <label for="password" class="label">Password</label>
                        <input type="password" name="password" value="" id="password" class="input" required>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                    <div class="hr"></div>
			    </div>
            </form>

			<div class="for-pwd-htm">
                <form action="/accounts/register/" method="POST">
                    <div class="group">
                        <label for="username" class="label">Username</label>
                        <input id="username" name = "username" type="text" class="input" value = "">
                    </div>

                    <div class = "row col2-group">
                        <div class = "col-md-6">
                            <label for="first_name" class="label">First Name</label>
                            <input id="first_name" name = "first_name" type="text" class="input" value = "">
                        </div>
                        <div class = "col-md-6">
                            <label for="last_name" class="label">Last Name</label>
                            <input id="last_name" name = "last_name" type="text" class="input" value = "">
                        </div>
                    </div>
                    <div class = "row col2-group">
                        <div class = "col-md-6">
                            <label for="password" class="label">Password</label>
                            <input id="password" name = "password" type="password" class="input" value = "">
                        </div>
                        <div class = "col-md-6">
                            <label for="password_verify" class="label">Verify</label>
                            <input id="password_verify" name = "password_verify" type="password" class="input" value = "">
                        </div>
                    </div>
                    <div class="group">
                        <label for="email" class="label">Email</label>
                        <input id="email" name = "email" type="text" class="input" value = "">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Register">
                    </div>

                    </div>
                </form>
		    </div>
	    </div>
    </div>
</body>
</html>