img{
    max-width: 600px;
}

.content{
    text-align: left;
}

@font-face {
    font-family: 'Borda';
    src: url('../fonts/Borda.woff') format("woff")
  }

.bg-img{
    width: 1920px !important;
    max-width:1920px !important;
    height: 1080px !important;
    max-height:1080px !important;
    top : -50px;
    position: fixed;
    z-index: -100;
    filter:opacity(0.4) blur(3px) sepia(1);
    overflow:hidden;
}

.main-container{
    position: relative;
    width:80%;
    top:50px;
    left:100px;
}

.author-container{
    position: relative;
    vertical-align: top;
    display: inline-block;
    top:0px;
    left:0px;
    width:275px;
    height:225px;
    background-color: rgba(0,0,0,0.8);
    border-left: #000 5px solid;
    border-top: #000 5px solid;
    border-bottom: rgb(75,147,67) 3px double;
    border-top-left-radius: 10px;
    opacity: 1;
    transition: .5s;
}

.comment-author-container{
    position: relative;
    vertical-align: top;
    display: inline-block;
    top:-7px;
    left:0px;
    width:275px;
    height:225px!important;
    background-color: rgba(0,0,0,0.8);
    border-left: #000 5px solid;
    border-top: #000 5px solid;
    border-bottom: rgb(75,147,67) 3px double;
    border-top-left-radius: 10px;
    transition: .5s;
}

.article-container{
    position: relative;
    display: inline-block;
    top:0px;
    left:-5px;
    width:70%;
    height:225px;
    background-color: rgba(0,0,0,0.8);
    border-left: rgb(75,147,67) 3px double;
    border-bottom: rgb(75,147,67) 3px double;
    opacity: 1;
    transition: 1s;
}

.author-info-container{
    position: relative;
    top:-7px;
    left:0px;
    width:275px;
    height:450px;
    background-color: rgba(0,0,0,0.8);
    vertical-align: top;
    display: inline-block;
}

.article-content-container{
    position: relative;
    top:-7px;
    left:-5px;
    width:70%;
    border-left: rgb(75,147,67) 3px double;
    background-color: rgba(0,0,0,0.8);
    display: inline-block;
}

.M-container{
    width: 100%;
}

.upper-container{
    height: 5%;
       
}

.comment-upper-container{
    margin-bottom: -50px!important;
}

.user-avatar{
    position: absolute;
    left:62.5px;
    top:15px;
    height:150px;
    width:150px;
    border-radius: 50%;
    border: #000 2px solid;
    display: none;
}

.user-name{
    cursor: default;
    position: absolute;
    background-image: linear-gradient(to right,transparent ,rgba(0,0,0,1),transparent );
    text-align: center;
    width:270px;
    color:#fff;
    letter-spacing: 3px;
    top:180px;
    display: none;
}

.title{
    cursor: default;
    position: absolute;
    background-color:rgba(0,0,0,0.4);
    text-align: center;
    width:97%;
    left:10px;
    color:#fff;
    letter-spacing: 8px;
    font-size: 50px;
    top:10px;
    border: #000 1px solid;
}

.tags-container{
    position: absolute;
    width:70%;
    height:110px;
    left:10px;
    top:100px;
    /*border: #000 1px solid;*/
}

.tag{
    display: inline-block;
    text-align: center;
    margin-left:10px;
    margin-top:10px;
    padding-left:10px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    border: rgb(75,147,67) 1px solid;
    border-radius: 10%;
    letter-spacing: 5px;
    background-color: rgba(0,0,0,0.4);
    color:#fff;
}

.best-tag{
    top:-1px;
    border: rgb(75,147,67) 3px solid;
}

.tag-link{
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
    outline: none;
    display: inline-block;
    float:left;
}

.tag-link:focus{
    outline: none;
}

.tag-link:hover{
    transition: .2s;
    text-decoration: none;
}

.tag-count, .tag-name{
    font-weight: normal;
}

.tag-count{
    font-size: 10px;
    padding-left:10px;
    border-left: rgb(75,147,67) 1px solid;
}

.add-tag{
    display: inline-block;
    text-align: center;
    margin-left:10px;
    margin-top:10px;
    padding-left:11px;
    padding-right:5px;
    padding-top:3px;
    padding-bottom:3px;
    border: rgb(75,147,67) 1px solid;
    border-radius: 10%;
    letter-spacing: 5px;
    background-color: rgba(0,0,0,0.4);
    color:#fff;
}

.date-container{
    position: absolute;
    width:220px;
    height:50px;
    right:0px;
    bottom:12.5px;
    /*border: #000 1px solid;*/
}

.post-date, .revise-date{
    letter-spacing: 2.5px;
    color:#fff;
    font-family:"Borda";
}

.author-info-block{
    position: absolute;
    height:50px;
    width:275px;
    /*display: none;*/
}

.author-infor-wrap{
    position: absolute;
}

.author-info-tag{
    position: relative;
    display: inline-block;
    background-color:rgb(75,147,67);
    top:8px;
    left:20px;
    color:#fff;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 2px;
    border-radius: 10%;
    text-align: center;
    width:50px;
}

.author-info{
    font-size:20px;
    font-family: "Borda";
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    color:#fff;
    top:10px;
    left:30px;
}

.long{
    font-size: 14px;
}

.article-content{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    width:100%;
    min-height: 225px!important;
    padding-top:10px;
    padding-left:10px;
    color:#fff;
}

.function-block{
    position: fixed;
    top:60px;
    right:22px;
    width:12%;
    background-color: rgba(0,0,0,0.8);
}

.function-block-option{
    height:100px;
    width:172px;
    background-color: rgba(0,0,0,0.5);
    border-bottom: rgb(75,147,67) 2px solid !important;
    border-top: rgb(75,147,67) 2px solid!important;
    margin-bottom: 5px;
    font-family: "Borda";
    text-align: center;
    font-size: 20px;
    color:#fff;
    transition: .5s;
}

.function-block-option:hover{
    background-color: rgba(255,255,255,0.5);
}

.symbol{
    position: relative;
    left:31.5%;
    top:5px;
    height:60px;
    width:60px;
    margin-bottom: 0px;
    border-radius: 50%;
    border: #000 2px solid!important;
    background-color: rgba(255,255,255,0.2);
}

.inside-symbol{
    margin-top:7px;
    margin-left:2px;
}

.contribute-value{
    position: relative;
    font-size:30px;
    letter-spacing: 5px;
    text-align: center;
    top:7px;
    left:2px;
}

.void-button{
    padding: 0;
    border: none;
    background: none;
}

.author-indentation-1{
    left:275px;
}

.content-container-indentation-1{
    left:270px;
    width:46%;
}

.content-indentation-1{
    width:100%;
}

.article-bg-container{
    position: absolute;
    width:222.5px;
    height:50px;
    right:0px;
    bottom:70px;
    color:#fff;
    /*border: #000 1px solid;*/
}

.comment-bg-container{
    position: relative;
    width:220px;
    height:50px;
    left:76.445%;
    bottom:80px;
    color:#fff;
    /*border: #000 1px solid;*/
}

.bg-count{
    color:#fff;
}

.good, .bad{
    height: 25px;
    width: 75px;
    background: rgba(155,155,155,0.5);
    padding: 0;
    border:none;
    border-bottom: rgb(75,147,67) 1px solid;
    border-radius: 10%;
}

.comment-delete, .comment-reply{
    font-family: "Borda";
    text-align: right;
    color:#fff;
    font-size: 20px;
    text-decoration: none;
}

.comment-delete:hover, .comment-reply:hover{
    color:rgb(75,147,67);
    text-decoration: none;
}

.comment-dr-container{
    position: relative;
    text-align: right;
    width:120px;
    height:25px;
    left:82.445%;
    top:-237px;
    color:#fff;
    /*border:  #000 1px solid;*/
}

.links{
    position: absolute;
    left:110px;
    top:80px;
    font-family: "Borda";
}

.link{
    font-family: "Borda";
    color:#fff;
    padding:2px 5px 0px 5px;   
    transform: skewX(20deg);
    text-decoration: none;
}

.link:hover{
    text-decoration: none;
}

.link-container{
    display: inline-block;
    transform: skewX(-20deg);
    background-color: #000;
    margin-right: 10px;
    transition: .5s;
}

.tag-input{
    border:rgb(75,147,67) 1px solid;
    border-radius: 10%;
    cursor:pointer;
    background-color:rgba(0,0,0,0.5);
    color:#fff;
    margin-top:10px;
    margin-left:10px;
    font-family: "Borda";
    letter-spacing: 5px;
    font-size:18px;
    padding-bottom: 0px;
    
}

.tag-input:focus{
    outline:none;
    background-color:rgba(0,0,0,0.2);
}

.all-comment-container{
    position: relative;
    top:10px;
}