*{
    font-family: '微軟正黑體';
}
.bg-img{
  width: 1920px;
  height: 1080px;
  top : -50px;
  position: fixed;
  z-index: -100;
  filter:opacity(0.5) blur(3px) sepia(1) brightness(.7);
}

img{
    transition: .5s;
}

.card-img-top{
  min-height: 190px;
  min-width: 286px;
}

.card-img-container{
  overflow: hidden;
  width: 286px;
  height: 190px;
}

.card-body{
    overflow: hidden;
    max-height: 4rem;
    cursor: default;
    transition: .5s;
    border-left: #000 2px solid;
    border-right: #000 2px solid;
    border-bottom: #000 2px solid;
}

.enter-img{
    margin-top: 2rem;
    width: 18rem;
    position: absolute;
    z-index: 5;
    opacity: 0;
    transition: .5s;
}

@font-face {
  font-family: 'Borda';
  src: url('fonts/Borda.woff') format("woff")
}

.card-text{
  font-family: "Borda";
  opacity: 0;
  display:none;
  letter-spacing: 1px;
}

.card-divider{
    display:none;
}


.glitch {
    position: relative;
    color: white;
    /* Animation provies a slight random skew. Check bottom of doc
    for more information on how to random skew. */
    animation: glitch-transform 1s infinite linear alternate-reverse;
  }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
  
  /* Creates an animation with 20 steaps. For each step, it calculates 
  a percentage for the specific step. It then generates a random clip
  box to be used for the random glitch effect. Also adds a very subtle
  skew to change the 'thickness' of the glitch.*/
  @keyframes glitch-anim {
    0% {
      clip: rect(30px, 9999px, 18px, 0);
      transform: skew(0.83deg);
    }
    5% {
      clip: rect(77px, 9999px, 30px, 0);
      transform: skew(0.8deg);
    }
    10% {
      clip: rect(49px, 9999px, 23px, 0);
      transform: skew(0.25deg);
    }
    15% {
      clip: rect(4px, 9999px, 47px, 0);
      transform: skew(0.84deg);
    }
    20% {
      clip: rect(75px, 9999px, 97px, 0);
      transform: skew(0.35deg);
    }
    25% {
      clip: rect(4px, 9999px, 73px, 0);
      transform: skew(0.6deg);
    }
    30% {
      clip: rect(94px, 9999px, 32px, 0);
      transform: skew(0.7deg);
    }
    35% {
      clip: rect(28px, 9999px, 54px, 0);
      transform: skew(0.07deg);
    }
    40% {
      clip: rect(19px, 9999px, 93px, 0);
      transform: skew(0.14deg);
    }
    45% {
      clip: rect(20px, 9999px, 78px, 0);
      transform: skew(0.85deg);
    }
    50% {
      clip: rect(64px, 9999px, 89px, 0);
      transform: skew(0.47deg);
    }
    55% {
      clip: rect(64px, 9999px, 38px, 0);
      transform: skew(0.7deg);
    }
    60% {
      clip: rect(93px, 9999px, 29px, 0);
      transform: skew(0.75deg);
    }
    65% {
      clip: rect(56px, 9999px, 17px, 0);
      transform: skew(0.08deg);
    }
    70% {
      clip: rect(96px, 9999px, 21px, 0);
      transform: skew(0.63deg);
    }
    75% {
      clip: rect(3px, 9999px, 70px, 0);
      transform: skew(0.25deg);
    }
    80% {
      clip: rect(12px, 9999px, 37px, 0);
      transform: skew(0.13deg);
    }
    85% {
      clip: rect(65px, 9999px, 44px, 0);
      transform: skew(0.62deg);
    }
    90% {
      clip: rect(55px, 9999px, 75px, 0);
      transform: skew(0.22deg);
    }
    95% {
      clip: rect(100px, 9999px, 33px, 0);
      transform: skew(0.09deg);
    }
    100% {
      clip: rect(61px, 9999px, 88px, 0);
      transform: skew(0.41deg);
    }
  }
  @keyframes glitch-anim2 {
    0% {
      clip: rect(11px, 9999px, 86px, 0);
      transform: skew(0.76deg);
    }
    5% {
      clip: rect(40px, 9999px, 39px, 0);
      transform: skew(0.03deg);
    }
    10% {
      clip: rect(69px, 9999px, 41px, 0);
      transform: skew(0.17deg);
    }
    15% {
      clip: rect(44px, 9999px, 3px, 0);
      transform: skew(0.21deg);
    }
    20% {
      clip: rect(81px, 9999px, 14px, 0);
      transform: skew(0.71deg);
    }
    25% {
      clip: rect(65px, 9999px, 84px, 0);
      transform: skew(0.25deg);
    }
    30% {
      clip: rect(39px, 9999px, 21px, 0);
      transform: skew(0.66deg);
    }
    35% {
      clip: rect(46px, 9999px, 68px, 0);
      transform: skew(0.35deg);
    }
    40% {
      clip: rect(92px, 9999px, 4px, 0);
      transform: skew(0.02deg);
    }
    45% {
      clip: rect(55px, 9999px, 38px, 0);
      transform: skew(0.38deg);
    }
    50% {
      clip: rect(90px, 9999px, 28px, 0);
      transform: skew(0.23deg);
    }
    55% {
      clip: rect(21px, 9999px, 82px, 0);
      transform: skew(0.51deg);
    }
    60% {
      clip: rect(51px, 9999px, 69px, 0);
      transform: skew(0.26deg);
    }
    65% {
      clip: rect(73px, 9999px, 14px, 0);
      transform: skew(0.72deg);
    }
    70% {
      clip: rect(33px, 9999px, 31px, 0);
      transform: skew(0.06deg);
    }
    75% {
      clip: rect(7px, 9999px, 65px, 0);
      transform: skew(0.51deg);
    }
    80% {
      clip: rect(88px, 9999px, 97px, 0);
      transform: skew(0.93deg);
    }
    85% {
      clip: rect(80px, 9999px, 13px, 0);
      transform: skew(0.81deg);
    }
    90% {
      clip: rect(62px, 9999px, 96px, 0);
      transform: skew(0.85deg);
    }
    95% {
      clip: rect(95px, 9999px, 65px, 0);
      transform: skew(0.21deg);
    }
    100% {
      clip: rect(77px, 9999px, 96px, 0);
      transform: skew(0.9deg);
    }
  }
  @keyframes glitch-anim2 {
    0% {
      clip: rect(82px, 9999px, 98px, 0);
      transform: skew(0.13deg);
    }
    5% {
      clip: rect(53px, 9999px, 99px, 0);
      transform: skew(0.72deg);
    }
    10% {
      clip: rect(67px, 9999px, 75px, 0);
      transform: skew(0.96deg);
    }
    15% {
      clip: rect(76px, 9999px, 89px, 0);
      transform: skew(0.43deg);
    }
    20% {
      clip: rect(96px, 9999px, 83px, 0);
      transform: skew(0.96deg);
    }
    25% {
      clip: rect(79px, 9999px, 86px, 0);
      transform: skew(0.06deg);
    }
    30% {
      clip: rect(26px, 9999px, 69px, 0);
      transform: skew(0.96deg);
    }
    35% {
      clip: rect(46px, 9999px, 82px, 0);
      transform: skew(0.34deg);
    }
    40% {
      clip: rect(68px, 9999px, 94px, 0);
      transform: skew(0.09deg);
    }
    45% {
      clip: rect(44px, 9999px, 99px, 0);
      transform: skew(0.47deg);
    }
    50% {
      clip: rect(79px, 9999px, 71px, 0);
      transform: skew(0.26deg);
    }
    55% {
      clip: rect(27px, 9999px, 76px, 0);
      transform: skew(0.95deg);
    }
    60% {
      clip: rect(40px, 9999px, 73px, 0);
      transform: skew(0.65deg);
    }
    65% {
      clip: rect(69px, 9999px, 28px, 0);
      transform: skew(0.79deg);
    }
    70% {
      clip: rect(46px, 9999px, 43px, 0);
      transform: skew(0.22deg);
    }
    75% {
      clip: rect(1px, 9999px, 27px, 0);
      transform: skew(0.15deg);
    }
    80% {
      clip: rect(84px, 9999px, 71px, 0);
      transform: skew(0.04deg);
    }
    85% {
      clip: rect(7px, 9999px, 19px, 0);
      transform: skew(0.6deg);
    }
    90% {
      clip: rect(51px, 9999px, 22px, 0);
      transform: skew(0.32deg);
    }
    95% {
      clip: rect(34px, 9999px, 64px, 0);
      transform: skew(0.5deg);
    }
    100% {
      clip: rect(36px, 9999px, 53px, 0);
      transform: skew(0.56deg);
    }
  }
  @keyframes glitch-transform {
    0% {
      transform: translateX(0px);
    }
    10% {
      transform: translateX(0px);
    }
    20% {
      transform: translateX(1px);
    }
    30% {
      transform: translateX(0px);
    }
    40% {
      transform: translateX(1px);
    }
    50% {
      transform: translateX(1px);
    }
    60% {
      transform: translateX(1px);
    }
    70% {
      transform: translateX(0px);
    }
    80% {
      transform: translateX(1px);
    }
    90% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(1px);
    }
  }