.bg-img{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@font-face {
    font-family: 'Borda';
    src: url('fonts/Borda.woff') format("woff")
  }

.feature {
    position: relative;
    margin: 150px auto;
    width: 300px;
    text-align: center;
  }
  
  .feature__glitch {
    
    font-size: 64px;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1em;
    position: absolute;
    width: 200px;
    left: 800px;
    top: 400px;
    text-align: center;
    z-index: 2;
  }

  .feature__glitch:before, .feature__glitch:after {
    background: #000;
    font-size: 64px;
    line-height: 1em;
    font-weight: bold;
    clip: rect(0, 900px, 0, 0);
    color: #fff;
    content: "N0 4RT1CL3";
    white-space: pre;
    overflow: hidden;
    position: absolute;
    top: 0;
    text-align: center;
  }
  .feature__glitch:before {
    animation: glitch-1 5s infinite linear alternate-reverse;
    left: 35px;
    text-shadow: 1px 0 #40bad8;
  }
  .feature__glitch:after {
    animation: glitch-2 3s infinite linear alternate-reverse;
    left: 30px;
    text-shadow: -1px 0 #f00;
  }
  
  .feature__span {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 200px;
    font-size: 11px;
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
  }
  
  @-webkit-keyframes glitch-1 {
    0% {
      clip: rect(4px, 9999px, 110px, 0);
    }
    6.25% {
      clip: rect(73px, 9999px, 110px, 0);
    }
    12.5% {
      clip: rect(50px, 9999px, 29px, 0);
    }
    18.75% {
      clip: rect(84px, 9999px, 293px, 0);
    }
    25% {
      clip: rect(15px, 9999px, 73px, 0);
    }
    31.25% {
      clip: rect(62px, 9999px, 33px, 0);
    }
    37.5% {
      clip: rect(85px, 9999px, 215px, 0);
    }
    43.75% {
      clip: rect(90px, 9999px, 266px, 0);
    }
    50% {
      clip: rect(45px, 9999px, 280px, 0);
    }
    56.25% {
      clip: rect(53px, 9999px, 283px, 0);
    }
    62.5% {
      clip: rect(40px, 9999px, 95px, 0);
    }
    68.75% {
      clip: rect(42px, 9999px, 203px, 0);
    }
    75% {
      clip: rect(12px, 9999px, 256px, 0);
    }
    81.25% {
      clip: rect(98px, 9999px, 193px, 0);
    }
    87.5% {
      clip: rect(98px, 9999px, 193px, 0);
    }
    93.75% {
      clip: rect(8px, 9999px, 201px, 0);
    }
    100% {
      clip: rect(75px, 9999px, 58px, 0);
    }
  }
  
  @keyframes glitch-1 {
    0% {
      clip: rect(4px, 9999px, 110px, 0);
    }
    6.25% {
      clip: rect(73px, 9999px, 110px, 0);
    }
    12.5% {
      clip: rect(50px, 9999px, 29px, 0);
    }
    18.75% {
      clip: rect(84px, 9999px, 293px, 0);
    }
    25% {
      clip: rect(15px, 9999px, 73px, 0);
    }
    31.25% {
      clip: rect(62px, 9999px, 33px, 0);
    }
    37.5% {
      clip: rect(85px, 9999px, 215px, 0);
    }
    43.75% {
      clip: rect(90px, 9999px, 266px, 0);
    }
    50% {
      clip: rect(45px, 9999px, 280px, 0);
    }
    56.25% {
      clip: rect(53px, 9999px, 283px, 0);
    }
    62.5% {
      clip: rect(40px, 9999px, 95px, 0);
    }
    68.75% {
      clip: rect(42px, 9999px, 203px, 0);
    }
    75% {
      clip: rect(12px, 9999px, 256px, 0);
    }
    81.25% {
      clip: rect(98px, 9999px, 193px, 0);
    }
    87.5% {
      clip: rect(98px, 9999px, 193px, 0);
    }
    93.75% {
      clip: rect(8px, 9999px, 201px, 0);
    }
    100% {
      clip: rect(75px, 9999px, 58px, 0);
    }
  }
  @-webkit-keyframes glitch-2 {
    0% {
      clip: rect(14px, 9999px, 107px, 0);
    }
    6.25% {
      clip: rect(68px, 9999px, 241px, 0);
    }
    12.5% {
      clip: rect(49px, 9999px, 13px, 0);
    }
    18.75% {
      clip: rect(45px, 9999px, 77px, 0);
    }
    25% {
      clip: rect(61px, 9999px, 196px, 0);
    }
    31.25% {
      clip: rect(29px, 9999px, 97px, 0);
    }
    37.5% {
      clip: rect(29px, 9999px, 193px, 0);
    }
    43.75% {
      clip: rect(35px, 9999px, 101px, 0);
    }
    50% {
      clip: rect(46px, 9999px, 122px, 0);
    }
    56.25% {
      clip: rect(28px, 9999px, 6px, 0);
    }
    62.5% {
      clip: rect(35px, 9999px, 231px, 0);
    }
    68.75% {
      clip: rect(70px, 9999px, 153px, 0);
    }
    75% {
      clip: rect(27px, 9999px, 120px, 0);
    }
    81.25% {
      clip: rect(52px, 9999px, 67px, 0);
    }
    87.5% {
      clip: rect(87px, 9999px, 88px, 0);
    }
    93.75% {
      clip: rect(82px, 9999px, 100px, 0);
    }
    100% {
      clip: rect(56px, 9999px, 31px, 0);
    }
  }
  @keyframes glitch-2 {
    0% {
      clip: rect(14px, 9999px, 107px, 0);
    }
    6.25% {
      clip: rect(68px, 9999px, 241px, 0);
    }
    12.5% {
      clip: rect(49px, 9999px, 13px, 0);
    }
    18.75% {
      clip: rect(45px, 9999px, 77px, 0);
    }
    25% {
      clip: rect(61px, 9999px, 196px, 0);
    }
    31.25% {
      clip: rect(29px, 9999px, 97px, 0);
    }
    37.5% {
      clip: rect(29px, 9999px, 193px, 0);
    }
    43.75% {
      clip: rect(35px, 9999px, 101px, 0);
    }
    50% {
      clip: rect(46px, 9999px, 122px, 0);
    }
    56.25% {
      clip: rect(28px, 9999px, 6px, 0);
    }
    62.5% {
      clip: rect(35px, 9999px, 231px, 0);
    }
    68.75% {
      clip: rect(70px, 9999px, 153px, 0);
    }
    75% {
      clip: rect(27px, 9999px, 120px, 0);
    }
    81.25% {
      clip: rect(52px, 9999px, 67px, 0);
    }
    87.5% {
      clip: rect(87px, 9999px, 88px, 0);
    }
    93.75% {
      clip: rect(82px, 9999px, 100px, 0);
    }
    100% {
      clip: rect(56px, 9999px, 31px, 0);
    }
  }

  