body{
    background: -webkit-linear-gradient(left, #00fd2a, #059936);
    font:600 16px/18px 'Open Sans',sans-serif;
    background:url('../img/answer-sheet-with-pencil.jpg') fixed;
	background-size: cover;
}

.wrap{
	width: 100%;
	margin:auto;
	max-width:90%;
	min-height:60%;
	position:relative;
    margin-top: 3%;
    background-size: cover;
    padding: 1%;
    background-color: rgba(255,255,255,0.92);
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.photo {
    opacity: 1;
    display: block;
    width: 200px;
    height: 200px;
    text-align: center;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
.photo_cover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(14, 168, 20, 0.75);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 16px 4px;
}
  
.photo_container:hover .photo {
    opacity: 0.3;
}
  
.photo_container:hover .photo_cover {
    opacity: 1;
}
 
.profile{
    width:70%;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 0.5rem;
    background: rgba(255,255,255,0.7);
}

.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head {
    text-align: center;
}
.profile-head h5{
    color: #333;
    margin-top: 8px;
}
.profile-head h6{
    color: #0062cc;
}
.profile-nav .nav-tabs{
    margin-bottom:1%;
}
.profile-nav .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-nav .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.tab-content-input {
    margin: 10px;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.mat-label {
    font-size: 16px;
    transform: translateY(25px);
    color: #0879f3;
    transition: all 0.2s;
    padding: 0px 0px 10px 0px;
}

.mat-input {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 0px 5px;
    font-size: 16px;

}

.mat-input::placeholder {
    color: #000000;
}

.mat-div {
    padding: 10px 0px 0px 0px;
    position: relative;
    width: 100%;
    
}

.mat-div:after, .mat-div:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color:#06973e; 
    bottom: 0;
    left: 0;
    transition: all 0.2s;
    
}

.mat-div::after {
    background-color: #41ec83;
    transform: scaleX(0);
}

.is-active::after {
    transform: scaleX(1);
}

.is-active .mat-label {
    color: rgb(0, 0, 0);
}

.is-completed .mat-label {
    font-size: 12px;
    transform: translateY(0);
}

.tab-submit-btn {
    
    margin-top: 40px
}