<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        <title>ExamPool - View Article</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <!-- Theme included stylesheets -->
        <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.css" integrity="sha384-+MsSfd29vjUzcyqYURxcmpWGtqoSHBy+QdEJNLEslXQftxojQv0k6BGDqUNp9GtA" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.js" integrity="sha384-5zUJgoXUAOXAoLeyJm2Ja3vbN3VCnoc2w0rG7dyC2jjGwD8PINuWoDHJ3gNdkOxj" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        {% load static  %}
        <script type="text/javascript" src={% static "js/article.js" %}></script>
        <link rel="stylesheet" type="text/css" href={% static "css/article.css" %}>

    </head>
    <body>
        {% include 'nav.html' %}
        {% load widget_tweaks %}
        {% load index %}

        <img class = "bg-img" src = {% static "img/board_bg.jpg" %} draggable="false"></img>
        <div class = "links">
            <a href = "../.."class = "link-container">
                <div class = "link">
                    所有系所
                </div>
            </a>

            <a href = ".." class = "link-container">
                <div class = "link">
                    {{department_name}}
                </div>
            </a>
            <a href = "." class = "link-container">
                <div class = "link">
                    {{subject_name}}
                </div>
            </a>
        </div>
        <div class = "main-container">
            <div class = "M-container">
                <div class = "upper-container">
                    <div class = "author-container">
                        <a class = "user-link" href="../../../accounts/info/{{Article.author}}">
                            <img src=
                            {% if author.icon.icon %}
                                "/media/{{author.icon.icon}}"
                            {% else %}
                                {% static "img/user_img.png" %}
                            {% endif %}
                            class = "user-avatar"></img>
                        </a>
                        <div class = "user-name">
                            {{Article.author}}
                        </div>
                    </div>
                    
                    <div class = "article-container">
                        <div class = "title">
                            {{Article.title}}
                        </div>
                        <div class = "tags-container">
                            {% if max_tag %}
                                <form class="" role="group" method = "POST">
                                    <button name = "tag_name" class = "tag-link" value = {{max_tag}}>
                                        <div class = "tag best-tag">
                                            <b class = "tag-name">{{max_tag}}</b>
                                            <b class = "tag-count">{{max_tag_count}}</b>
                                        </div>
                                    </button>
                                </form>
                            {% endif %}

                            {% if else_tag %}
                                {% for tag in else_tag %}
                                    <form class="" role="group" method = "POST">
                                        <button class = "tag-link" name = "tag_name" value = {{tag}}>
                                            <div class = "tag">
                                                <b class = "tag-name">{{tag}}</b>
                                                <b class = "tag-count">{{else_tag_count|index:forloop.counter0}}</b>
                                            </div>
                                        </button>
                                    </form>
                                {% endfor %}
                            {% endif %}

                            <form class="" role="group" method = "POST">
                                <a class = "tag-link">
                                    <input type = "text" name = "tag_name" class = "tag-input" placeholder = "add some tag...">
                                </a>
                            </form>
                        </div>
                        <div class = "article-bg-container">                      
                            <form class="" role="group" method = "POST">
                                <button type=
                                    {% if user.is_authenticated %}
                                    "submit"
                                    {% else %}
                                    "button"
                                    {% endif %}
                                    name = "goodbad" value = "good" class="good">
                                    <i class="far fa-thumbs-up fa-lg"></i>
                                </button>
                                <div class = "btn bg-count">
                                    {{ article_goodbad_count }}
                                </div>
                                <button type=
                                    {% if user.is_authenticated %}
                                    "submit"
                                    {% else %}
                                    "button"
                                    {% endif %}
                                    name = "goodbad" value = "bad" class="bad">
                                    <i class="far fa-thumbs-down"></i>
                                </button>
                                <input type="hidden" name = "is_article" value = "True">
                                <input type="hidden" name = "comment_id" value = "0">
                            </form>
                        </div>  
                        <div class = "date-container">
                            <div class = "post-date">
                                發布時間 : {{Article.post_date|safe}}
                            </div>
                            <div class = "revise-date">
                                修改時間 : {{Article.revise_date|safe}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "lower-container">
                    <div class = "author-info-container">
                        <div class = "author-info-block">
                            <div class = "author-info-tag">
                                UID
                            </div>
                            <div class = "author-info">
                                {{author.id}}
                            </div>
                        </div>
                        <div class = "author-info-block">
                            <div class = "author-info-tag">
                                CON
                            </div>
                            <div class = "author-info">
                                {% if author_contribution %}
                                    {{author_contribution}}
                                {% else %}
                                    0
                                {% endif %}
                            </div>
                        </div>
                        <div class = "author-info-block">
                            <div class = "author-info-tag">
                                MAIL
                            </div>
                            <div class = "author-info long">
                                {{author.email}}
                            </div>
                        </div>
                        <div class = "author-info-block">
                            <div class = "author-info-tag">
                                JOIN
                            </div>
                            <div class = "author-info long">
                                {{author.date_joined}}
                            </div>
                        </div>
                        <div class = "author-info-block">
                            <div class = "author-info-tag">
                                LOG
                            </div>
                            <div class = "author-info long">
                                {{author.last_login}}
                            </div>
                        </div>
                    </div>

                    <div class = "article-content-container">
                        <div class = "article-content">
                            {{Article.content|safe}}
                        </div>
                    </div>
                </div>
                    

                <div class = "all-comment-container">             
                    {% for comment in Comment %}
                        {% if comment.exist %}
                            <div class = "comment-upper-container">
                                <div class = "comment-author-container
                                {% if comment.parent_comment_id != 0 %}
                                author-indentation-1
                                {% endif %}
                                ">
                                    <a class = "user-link" href="../../../accounts/info/{{comment.author}}">
                                        <img src=
                                        {% if comment_icon|index:forloop.counter0 %}
                                            "/media/{{comment_icon|index:forloop.counter0}}"
                                        {% else %}
                                            {% static "img/user_img.png" %}
                                        {% endif %}
                                         class = "user-avatar"></img>
                                    </a>
                                    <div class = "user-name">
                                        {{comment.author}}
                                    </div>
                                </div>
                            
                                <div class = "article-content-container
                                {% if comment.parent_comment_id != 0 %}
                                content-container-indentation-1
                                {% endif %}
                                ">
                                    <div class = "article-content
                                    {% if comment.parent_comment_id != 0 %}
                                    content-indentation-1
                                    {% endif %}
                                    ">
                                        {{comment.content|safe}}
                                    </div>
                                </div>

                                <div class = "comment-dr-container">
                                    {% if user.username == comment.author %}
                                        <a href = "{{Article.id}}/{{comment.id}}/deleteComment" class ="comment-delete">delete</a>
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                        <a href = "{{Article.id}}/reply/{{comment.id}}" class ="comment-reply">reply</a>
                                    {% endif %}
                                </div>

                                <div class = "comment-bg-container">                      
                                    <form class="" role="group" method = "POST">
                                        <button type=
                                            {% if user.is_authenticated %}
                                            "submit"
                                            {% else %}
                                            "button"
                                            {% endif %}
                                            name = "goodbad" value = "good" class="good">
                                            <i class="far fa-thumbs-up fa-lg"></i>
                                        </button>
                                        <div class = "btn bg-count">
                                            {{ comment_goodbad_count|index:forloop.counter0 }}

                                        </div>
                                        <button type=
                                            {% if user.is_authenticated %}
                                            "submit"
                                            {% else %}
                                            "button"
                                            {% endif %}
                                            name = "goodbad" value = "bad" class="bad">
                                            <i class="far fa-thumbs-down"></i>
                                        </button>
                                        <input type="hidden" name = "comment_id" value = {{comment.id}}>
                                        <input type="hidden" name = "is_article" value = "False">
                                    </form>
                                </div> 
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class = "function-block">
            {% if user.is_authenticated %}
            <a style = "text-decoration:none;">
                <div class = "function-block-option">
                    <div class = "symbol">
                        <a class = "contribute-value">
                            {{user_contribution}}
                        </a>
                        {% comment %} <a class = "contribute-value">{{total_contribution}}</a> {% endcomment %}
                    </div>
                    Contribution
                </div>
            </a>
            {% endif %}
            {% if user.is_authenticated %}
            <form class="btn-group" role="group" method = "POST">
                <button type = "submit" name = "article_id" value = {{Article.id}} class="void-button">
                    <div class = "function-block-option">
                        <div class = "symbol">
                            {% if already_favorite %}
                                <i class="inside-symbol fas fa-star fa-2x"></i>
                            {% else %}
                                <i class="inside-symbol far fa-star fa-2x"></i>
                            {% endif %}
                        </div>
                        Favorite
                    </div>
                </button>
            </form>
            </a>
            {% endif %}
            {% if user.is_authenticated %}
            <a href = "{{Article.id}}/reply" style = "text-decoration:none;">
                <div class = "function-block-option">
                    <div class = "symbol">
                        <i class="inside-symbol fas fa-reply fa-2x"></i>
                    </div>
                    Reply
                </div>
            </a>
            {% endif %}
            {% if user.username == Article.author %}
            <a href = "{{Article.id}}/reviseArticle" style = "text-decoration:none;">
                <div class = "function-block-option">
                    <div class = "symbol">
                        <i class="inside-symbol far fa-edit fa-2x"></i>
                    </div>
                    Edit
                </div>
            </a>
            {% endif %}
            {% if user.username == Article.author %}
            <a href = "{{Article.id}}/deleteArticle" style = "text-decoration:none;">
                <div class = "function-block-option">
                    <div class = "symbol">
                        <i class="inside-symbol fas fa-skull-crossbones fa-2x"></i>
                    </div>
                    Delete
                </div>
            </a>
            {% endif %}
        </div>   
    </body>
</html>