<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="../../static/bootstrap-4.3.1/css/bootstrap.min.css">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <title>ExamPool - View Board</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        {% load static  %}
        <script type="text/javascript" src={% static "js/board.js" %}></script>
        <link rel="stylesheet" type="text/css" href={% static "css/board.css" %}>
    </head>
    <body>
        {% include 'nav.html' %}
        {% load index %}
        <img class = "bg-img" src = {% static "img/board_bg.jpg" %}></img>
        <div class = "links">
            <a href = ".."class = "link-container">
                <div class = "link">
                    BACK
                </div>
            </a>
        </div>

        <div class = "container article-list">
            <div class = "container text-right">
                {% if user.is_authenticated %}
                    <a href = "edit/post" class = "btn post-article">
                        發布問題
                    </a>
                {% endif %}
            </div>

            <div class="list-group main-board">
                {% for article in Article  %}
                    {% if article.exist %}
                        <div class = "list-group-item mb-1 mt-1 bg-dark text-white row-bg">
                            <div class = "row">
                                <div class = "label text-center text-dark bg-white rounded col-2 border-right border-dark">
                                    {% if article.tag_name.0 %}
                                        {{article.tag_name|maxTag:article.tag_count}}
                                    {% else %}
                                        new post
                                    {% endif %}
                                </div>
                                <a href="{{article.id}}">
                                    <div class = "col-sm text-white underlined underlined--thick">
                                        {{article.title}}
                                    </div>
                                </a>
                                <div class = "time col-sm text-white text-right">
                                    {{article.revise_date}}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="select-page">
            <div class="page-wrapper">
                <form method = "POST">

                <button class = "arrow"
                {% if now_page > 1 %}
                    value = {{now_page|add:-1}}
                {% endif %}
                 name = "page">
                    <div class = "page-hover-stick-left"></div>
                    <div class="page-prev"></div>
                    <div class = "page-hover-stick-right"></div>
                </button>
                
                <button class = 
                {% if now_page > 1 %}
                    "page-numbers"
                {% else %}
                    "page-numbers hide"
                {% endif %}
                    name = "page"
                    value = "{{now_page|add:-1}}"
                {% if now_page > 1 %}
                    disable = "disable"
                {% endif %}
                 >
                 {{now_page|add:-1}}
                 </button>

                <button class="page-numbers page-current">{{now_page}}</button>

                <button class = 
                {% if now_page < max_page %}
                    "page-numbers"
                {% else %}
                    "page-numbers hide"
                {% endif %}
                    name = "page"
                    value = "{{now_page|add:1}}"
                {% if now_page >= max_page %}
                    disable = "disable"
                {% endif %}
                >
                {{now_page|add:1}}
                </button>
                
                <button class = "arrow" value = {{now_page|add:1}} name = "page">
                    <div class = "page-hover-stick-left"></div>
                    <div class="page-next"></div>
                    <div class = "page-hover-stick-right"></div>
                </button>
                </form>
            </div>
        </div>
        <div class = "select-page show-goto">．<b>．．．</b>．</div>

        <div class = "goto-wrapper">
            <div class = "page-goto from-left">
                <form method = "POST">
                    <input class = "page-goto page-input text-center" placeholder="GOTOPAGE" name = "page">
                </form>
            </div>
        </div>

        <div class = "side-menu-container">
            <form role="group" method = "POST" id="menu-form"> 
                <input class = "search hidden" name = "check" value = "OK" type = "submit"></input>
                <div class = "side-menu-option-title">
                    Search Tag
                </div>
                <div class = "side-menu-option">
                    <input class = "search" name = "tag" value = {{tag}}></input>
                </div>

                <div class = "side-menu-option-title">
                    Search Title
                </div>
                <div class = "side-menu-option">
                    <input class = "search" name = "title" value = {{title}}></input>
                </div>

                <div class = "side-menu-option-title">
                    Search Content
                </div>
                <div class = "side-menu-option">
                    <input class = "search" name = "content" value = {{content}}></input>
                </div>

                <div class = "side-menu-option-title">
                    Search Author
                </div>
                <div class = "side-menu-option">
                    <input class = "search" name = "author" value = {{author}}></input>
                </div>
                
                <div class = "side-menu-option-title">
                    Sort By
                </div>
                <div class = "side-menu-option">
                    <select name = "sort" id = "sort">
                        <option value = "id" {% if sort == "id" %} selected = "selected" {% endif %}>Article ID Forward</option>
                        <option value = "-id" {% if sort == "-id" %} selected = "selected" {% endif %}>Article ID Backward</option>
                        <option value = "title" {% if sort == "title" %} selected = "selected" {% endif %}>Title Forward</option>
                        <option value = "-title" {% if sort == "-title" %} selected = "selected" {% endif %}>Title Backward</option>
                        <option value = "post_date" {% if sort == "post_date" %} selected = "selected" {% endif %}>Post Date Forward</option>
                        <option value = "-post_date" {% if sort == "-post_date" %} selected = "selected" {% endif %}>Post Date Backward</option>
                        <option value = "revise_date" {% if sort == "revise_date" %} selected = "selected" {% endif %}>Revise Date Forward</option>
                        <option value = "-revise_date" {% if sort == "-revise_date" %} selected = "selected" {% endif %}>Revise Date Backward</option>
                    </select>
                </div>
            </form>
        </div>
    </body>
</html>