<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="../../static/bootstrap-4.3.1/css/bootstrap.min.css">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        <title>Index</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        </style>
    </head>
    <body>
        {% include 'nav.html' %}

        <div class = "container text-center">
            <div class = "justify-content-center w-100">
                {% for department in Department  %}
                    <a href = {{department.dp_abb}} class = "btn btn-success w-50 mt-3">
                        {{department.dp_name}}
                    </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>