<!DOCTYPE html>
<html lang = "en">

<head>
    <title>ExamPool - Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% load static %}
    <!-- load favicon. -->
    <link rel="icon" href={ % static "img/favicon.ico" %} type="image/x-icon" />
    <link rel="shortcut icon" href={ % static "img/favicon.ico" %} type="image/x-icon" />

    <!-- load css. -->
    <link rel="stylesheet" href = {% static "bootstrap-4.3.1/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href = {% static "fontawesome-5.8.2/css/all.min.css" %}>
    <link rel="stylesheet" href = {% static "css/error.css" %}>

    <!-- load js. -->
    <script src = {% static "js/jquery-3.4.1.min.js" %}></script>
    <script src = {% static "bootstrap-4.3.1/js/bootstrap.min.js" %}></script>
    
</head>

<body>
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">404</span>
                    <div class="mb-4 lead">The page you are looking for was not found.</div>
                    <a href="/index/" class="btn btn-link">Back to Home</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>