{% load static %}        
<link rel="stylesheet" href={% static "css/nav-bar.css" %}>
<div id = "navbar" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-black border-bottom shadow-sm" >
    <div class = "my-0 mr-md-auto font-weight-normal">
        <a href = "/index/"><img class="my-0 mr-md-auto font-weight-normal" id = "logo" src= {% static "img/nav-icon.png" %}></img></a>
    </div>

    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 navitem" href="/department">學系列表</a>
        <a class="p-2 navitem" href="#">練習</a>
        {% if request.user.is_authenticated %}
        <a class="nav-hello-tag"> Hi, {{request.user.first_name}} </a>
        {% endif %}
    </nav>
    
    {% if request.user.is_authenticated %}
    <a class="btn btn-success btn-sm btn-nav" href="/accounts/info/{{request.user.username}}/">用戶資訊</a> 
    <a class="btn btn-success btn-sm btn-nav" href="/accounts/logout/">登出</a> 
    {% else %}
    <a class="btn btn-success btn-sm btn-nav" href="/accounts/login/">Sign in</a>
    {% endif %}
</div>
