<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        <title>ExamPool - Edit</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!-- Include stylesheet -->
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <!-- Include the Quill library -->
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.css" integrity="sha384-+MsSfd29vjUzcyqYURxcmpWGtqoSHBy+QdEJNLEslXQftxojQv0k6BGDqUNp9GtA" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.js" integrity="sha384-5zUJgoXUAOXAoLeyJm2Ja3vbN3VCnoc2w0rG7dyC2jjGwD8PINuWoDHJ3gNdkOxj" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        {% load static %}
        <script type="text/javascript" src={% static "js/editor.js" %}></script>
        <link rel="stylesheet" type="text/css" href={% static "css/editor.css" %}>
    </head>
    <body>
        {% load widget_tweaks %}
        {% include 'nav.html' %}
        <img class = "bg-img" src = {% static "img/editor_bg.png" %} draggable="false"></img>
        <div class = "container">
            <div class = "links">
                <a href = "../../.."class = "link-container">
                    <div class = "link">
                        所有系所
                    </div>
                </a>

                <a href = "../.." class = "link-container">
                    <div class = "link">
                        {{department_name}}
                    </div>
                </a>
                <a href = ".." class = "link-container">
                    <div class = "link">
                        {{subject_name}}
                    </div>
                </a>
            </div>
            <div class = "sheet">
                <form action = "" method = "POST">
                    <div class="row justify-content-around align-items-center form-group">  
                        {% render_field form.title class+="form-control" value+=article.title %}
                    </div> 

                    <div class = "editor-container">
                        <img class = "corner-r" src = {% static "img/corner.png" %} draggable="false"></img>
                        <div class="row justify-content-around align-items-center form-group"> 
                            <input id = "content" type = "hidden" name = "content" maxlength = "2000" required id = "id_content" type = "hidden" value = {{ "'"|add:article.content|add:"'"|safe }}>
                            <div id = "editor-container" class = "form-control border mt-3"></div>
                            {% include 'editor.html' %}
                            <img class = "corner" src = {% static "img/corner.png" %} draggable="false"></img>
                        </div>
                    </div>
                    <div class = 'row justify-content-around align-items-center'>
                        <button class = "btn submit-btn" type="submit">EDIT</button>    
                    </div>
                </form>
            </div>
        </div>
        {% comment %} <div class = "container text-center">
            <div class = "container">
                <form action = "" method = "POST">
                    <div class="row justify-content-around align-items-center form-group">  
                        {% render_field form.title class+="form-control" value+=article.title %}
                    </div> 

                    <div class="row justify-content-around align-items-center form-group"> 
                        <input id = "content" type = "hidden" name = "content" maxlength = "2000" required id = "id_content" type = "hidden" value = {{ "'"|add:article.content|add:"'"|safe }}>
                    <div id = "editor-container" class = "form-control border mt-3"></div>
                    {% include 'editor.html' %}
                    </div>

                    <div class = 'row justify-content-around align-items-center'>
                        <button class = "btn btn-lg btn-primary btn-block" type="submit">修改文章</button>    
                    </div>
                </form>
            </div>
        </div> {% endcomment %}
    </body>
</html>